.title {
    background-color: beige;
    font-size: 50px;
    font-family: '游明朝';
    animation: fadeIn 0.7s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
    }
}

body {
    margin: 0px;
    text-align: center;
}

h1 {
    margin-top: 0px;
}

#text {
    width: 99%;
    height: 200px;
    resize: none;
    font-size: 15px;
    background-color: #f9f9f9;
    transition: 0.5s;
}

#text:hover {
    background-color: #ffffff;
    transition: 0.5s;
}

#output {
    display: inline;
}

h2 {
    font-size: 40px;
}

.mojidesu {
    font-size: 30px;
    font-weight: normal;
    display: inline;
}

.output {
    width: 50%;
    margin: 0 auto;
    animation: colorChange 5s infinite linear alternate;
}

@keyframes colorChange {
    0% {
        border: 3px dotted #9ed8ff;
    }

    50% {
        border: 3px dotted #38afff;
    }

    100% {
        border: 3px dotted #007dd1;
    }
}
