@media (max-width:1000px){
    .select {
        position: static;
    }
}

@media (max-width:850px){
    #textarea {
        font-size: 18px;
    }
}

@media (max-width:500px){
    #textarea {
        background-color: white;
        font-size: 20px;
        height: 250px;
    }

    #textarea:hover {
        background-color: white;
        transition: 0s;
    }

    .title {
        font-size: 30px;
    }    
}

@media (max-width:420px){
    .start {
        font-size: 30px;
    }

    #end {
        font-size: 25px;
    }
}

@media (max-width:320px){
    .start {
        font-size: 25px;
    }
}
